.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #151515;
}
.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #151515;
  max-width: 562px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.02em;
  color: #151515;
  opacity: 0.74;
  max-width: 562px;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #151515;
}
